<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headTag :: headTag}">
    <title>Task</title>
</head>
<body>
<div class="container">
    <h1 class="display-3" th:text="Tasks + ' Page'"></h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Home</a>
        </div>
    </nav>

    <div th:if="${tasks.size() > 1}">
        <table class="table">
            <caption class="text-center" th:text="Tasks"></caption>
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Task Tittle</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.getTitle()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 class="h2" th:unless="${tasks.size() > 0}">No entities were retrieved</h2>

</div>
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>
